// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$jeniblue: #280F91;
$gold: #C59D35;
$poudre: #D89D7E;
$babyblue: #B4D7FF;
$otherblue: #587CFF;

$siniopastel: #006E99;
$siniotumno: #002E4C;
$siniosvetlo: #002E4C;
$julto: #FAA526;
$drugosinio: #00426A;
$bebesionio: #7CC4C6;
$turquoizno: #0E787A;
