<p style="color: #0E787A;"></p>
<% @works.each do |work| %>
<%= work.name %>
<%= link_to "I understand let's go!", work_path(work), class: "btn btn-blue"%>
<%= link_to "Back to my Homepage", root_path, class:"btn btn-blue" %></center>
<%end  %>
