<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/evgeniamanolova/", target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   Evgenia Manolova 2023®
  </div>
</div>
