.footer {
  background: $siniotumno;
  display: flex;
  flex-direction: column; /* this makes the divs stack vertically */
  align-items: center; /* this centers the divs horizontally */
  justify-content: space-between; /* this distributes the divs vertically */
  width: 100%;
}
.footer-links {
  margin: 10px 0;
}
.footer-links a {
  color: $julto;
  text-decoration: none;
  font-size: 42px;
}
.footer-links a:hover {
color: white;
}
.footer-copyright {
  color: white;
  margin-bottom: 20px;
}

.footer-copyright:hover {
  color: $julto;
}

@media (max-width: 600px) {
  .footer-links a {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .footer-copyright {
    display: none;
  }
}
